/* Allgemeine Stile */

* {

    font-family: 'Inter', sans-serif;

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}
 
/* Body und Hauptcontainer */

html, body {

    height: 100%;
    
    width: 80%;

    background-color: mintcream;

    color: black;

    display: flex;

    align-items: center;

    justify-content: center;

    opacity: 0;

    animation: fadeIn 1.5s ease-in-out forwards;

}
 
/* Fixierter Homescreen-Container */

#homescreen {

    position: fixed;

    top: 0;

    left: 0;

    width: 100dvw;

    height: 100dvh;

    background-color: mintcream;

    display: flex;

    align-items: center;

    justify-content: center;

    z-index: 9999;

}
 
/* Einstiegsanimation für das Hamsterbild */

#entry {

    width: 300px;

    height: 300px;

    border-radius: 150px;

    transform: scale(1);

    align-items: center;

    justify-content: center;

    animation: entryAnimation 2.0s ease-in-out forwards;

    background-color: yellowgreen;

}
 
/* Flexbox-Container für vertikale Anordnung */

.container {

    display: flex;

    flex-direction: column;

    justify-content: space-evenly;

    align-items: center;

    align-content: center;

    height: 100dvh;

    width: 100%;

}
 
/* Links Styling */

a {

    text-decoration: none;

    color: yellowgreen;

    padding: 15px 30px;

    border-radius: 20px;

    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;

}
 
a:hover {

    background-color: yellowgreen;

    color: white;

    transform: scale(1.1);

}
 
/* Spezieller Stil für die grüne Box */

#green {

    display: flex;

    align-items: center;

    justify-content: center;

    border: solid 1px yellowgreen;

    border-radius: 150px;

    height: 300px;

    width: 300px;

    text-align: center;

    background-color: mintcream;

    opacity: 0;

    animation: fadeIn 1.5s ease-in-out forwards 0.5s;

}

@keyframes fadeIn {

    from {

        opacity: 1;

        transform: translateY(0);

    }

    to {

        opacity: 1;

        transform: translateY(0);

    }

}